@charset "UTF-8";
/* ------------------------------------------------------------------------------
 *
 *  # Core layout
 *
 *  Content area, sidebar, page header and boxed layout styles
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Global configuration
 *
 *  Here you can change main theme, enable or disable certain components and
 *  optional styles. This allows you to include only components that you need.
 *
 *  'true'  - enables component and includes it to main CSS file.
 *  'false' - disables component and excludes it from main CSS file.
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Custom Limitless functions
 *
 *  Utility mixins and functions for evalutating source code across our variables, maps, and mixins.
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Custom template mixins
 *
 *  All custom mixins are prefixed with "ll-" to avoid conflicts
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Default Bootstrap variable overrides
 *
 *  Variables should follow the `$component-state-property-size` formula for
 *  consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
 *  Also includes custom variables, all marked with "!default" flag.
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Additional variables
 *
 *  Mainly 3rd party libraries and additional variables for default
 *  Bootstrap components.
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Mixins
 *
 *  Import Bootstrap mixins with overrides
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Buttons mixin
 *
 *  Override and extend default buttons mixin.
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Caret mixin
 *
 *  Override and extend default cared mixin.
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Background mixin
 *
 *  Override and extend default background mixin.
 *
 * ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------
 *
 *  # Main content layout
 *
 *  Styles for main structure of content area
 *
 * ---------------------------------------------------------------------------- */
html {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth; } }

body {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1;
      flex: 1; }

.page-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 1.25rem 0.625rem; }

.content-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1;
      flex: 1;
  min-width: 0; }

.content {
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-left: 0.625rem;
  margin-right: 0.625rem; }
  .content::after {
    display: block;
    clear: both;
    content: ""; }

.btn-to-top {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: all 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .btn-to-top {
      transition: none; } }
  .btn-to-top-visible {
    visibility: visible;
    opacity: 1; }
  .page-content + .navbar.fixed-bottom ~ .btn-to-top {
    bottom: 4.625rem; }
  .page-content + .fixed-bottom:not(.navbar) ~ .btn-to-top {
    bottom: 8rem; }

/* ------------------------------------------------------------------------------
 *
 *  # Page header
 *
 *  Page header components and color options
 *
 * ---------------------------------------------------------------------------- */
.page-title {
  padding: 2rem 0;
  position: relative; }
  .page-title small {
    display: inline-block;
    margin-left: 0.625rem; }
    .page-title small:before {
      content: '/';
      margin-right: 0.875rem; }
    .page-title small.d-block {
      margin-left: 0; }
      .page-title small.d-block:before {
        content: none; }
  .page-title small.d-block,
  .page-title .breadcrumb {
    margin-left: 1.875rem; }
  .page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
    margin: 0; }

.page-header-content {
  position: relative;
  padding: 0 1.25rem; }

.page-header-light {
  background-color: #fff;
  border-bottom: 1px solid #ddd; }
  .page-header-light.has-cover {
    background: url(../../../../../../global_assets/images/backgrounds/seamless.png); }

.page-header-dark {
  background-color: #273246;
  color: #fff; }
  .page-header-dark > .breadcrumb > li > a,
  .page-header-dark > .breadcrumb > li + li:before,
  .page-header-dark .page-header-content .breadcrumb > li > a,
  .page-header-dark .page-header-content .breadcrumb > li + li:before {
    color: rgba(255, 255, 255, 0.9); }
  .page-header-dark > .breadcrumb > li > a:hover, .page-header-dark > .breadcrumb > li > a:focus,
  .page-header-dark .page-header-content .breadcrumb > li > a:hover,
  .page-header-dark .page-header-content .breadcrumb > li > a:focus {
    color: #fff;
    opacity: 1; }
  .page-header-dark > .breadcrumb > .active,
  .page-header-dark .page-header-content .breadcrumb > .active {
    color: rgba(255, 255, 255, 0.5); }
  .page-header-dark.has-cover {
    background: url(../../../../../../global_assets/images/login_cover.jpg);
    background-size: cover; }

.page-header-static {
  z-index: 1021; }

/* ------------------------------------------------------------------------------
 *
 *  # Sidebar layouts
 *
 *  Sidebar components, main navigation and sidebar itself
 *
 * ---------------------------------------------------------------------------- */
.sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  box-sizing: content-box;
  border: 1px solid transparent;
  width: 18.75rem; }

.sidebar-main,
.sidebar-secondary {
  left: -20.625rem;
  box-shadow: 0.25rem 0 1rem rgba(0, 0, 0, 0.35); }

.sidebar-right {
  right: -20.625rem;
  box-shadow: -0.25rem 0 1rem rgba(0, 0, 0, 0.35); }

.sidebar-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.sidebar-section {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .sidebar-section .form-group:last-child {
    margin-bottom: 0; }

.sidebar-section-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.75rem 1.25rem; }

.sidebar-section-body {
  position: relative;
  padding: 1.25rem 1.25rem; }

.sidebar-resize-show {
  display: none; }

.sidebar-mobile-expanded.sidebar-main, .sidebar-mobile-expanded.sidebar-secondary {
  left: 0; }

.sidebar-mobile-expanded.sidebar-right {
  right: 0; }

.sidebar-user img {
  height: 2.375rem;
  width: 2.375rem;
  margin-top: 0.1875rem;
  margin-bottom: 0.1875rem; }

.nav-sidebar {
  -ms-flex-direction: column;
      flex-direction: column; }
  .nav-sidebar .nav-item {
    position: relative; }
    .nav-sidebar .nav-item:not(.nav-item-header):first-child {
      padding-top: 0.5rem; }
    .nav-sidebar .nav-item:not(.nav-item-header):last-child {
      padding-bottom: 0.5rem; }
    .nav-sidebar .nav-item:not(.nav-item-divider) {
      margin-bottom: 1px; }
      .nav-sidebar .nav-item:not(.nav-item-divider):last-child {
        margin-bottom: 0; }
  .nav-sidebar > .nav-item > .nav-link {
    font-weight: 400; }
  .nav-sidebar .nav-link {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    padding: 0.75rem 1.25rem;
    transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s; }
    @media (prefers-reduced-motion: reduce) {
      .nav-sidebar .nav-link {
        transition: none; } }
    .nav-sidebar .nav-link i {
      margin-right: 1.25rem;
      margin-top: 0.1875rem;
      margin-bottom: 0.1875rem;
      top: 0; }
    .nav-sidebar .nav-link .badge {
      transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s; }
      @media (prefers-reduced-motion: reduce) {
        .nav-sidebar .nav-link .badge {
          transition: none; } }
    .nav-sidebar .nav-link.disabled, .nav-sidebar .nav-link.disabled:hover, .nav-sidebar .nav-link.disabled:focus {
      background-color: transparent;
      opacity: 0.5; }
  .nav-sidebar .nav-item-header {
    padding: 0.75rem 1.25rem; }
    .nav-sidebar .nav-item-header > i {
      display: none; }
  .nav-sidebar .nav-item-divider {
    margin: 0.5rem 0;
    height: 1px; }

.nav-item-submenu > .nav-link {
  padding-right: 2.75rem; }
  .nav-item-submenu > .nav-link:after {
    content: "";
    font-family: "icomoon";
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    line-height: 1;
    position: absolute;
    top: 0.75rem;
    margin-top: 0.1875rem;
    right: 1.25rem;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media (prefers-reduced-motion: reduce) {
      .nav-item-submenu > .nav-link:after {
        transition: none; } }
    [dir=rtl] .nav-item-submenu > .nav-link:after {
      content: ""; }

.nav-item-submenu.nav-item-open > .nav-link:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.nav-group-sub {
  display: block; }
  .nav-item:not(.nav-item-expanded) > .nav-group-sub {
    display: none; }
  .nav-group-sub .nav-link {
    padding: 0.625rem 1.25rem 0.625rem 3.5rem; }
  .nav-group-sub .nav-group-sub .nav-link {
    padding-left: 4.75rem; }
  .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
    padding-left: 6rem; }
  .nav-group-sub .nav-item-submenu > .nav-link:after {
    top: 0.625rem; }

.nav-scrollspy .nav-link.active + .nav,
.nav-scrollspy .nav-item-open .nav-link:not(.active) + .nav {
  display: block; }

.nav-scrollspy .nav-link.active:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.nav-sidebar-icons-reverse .nav-link {
  padding-right: 3.5rem; }
  .nav-sidebar-icons-reverse .nav-link i {
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
    margin-right: 0; }

.nav-sidebar-icons-reverse .nav-item-submenu .nav-link {
  padding-right: 4.5rem; }
  .nav-sidebar-icons-reverse .nav-item-submenu .nav-link:after {
    right: 3.25rem; }

.nav-sidebar-icons-reverse .nav-group-sub .nav-link {
  padding-left: 2.5rem; }
  .nav-sidebar-icons-reverse .nav-group-sub .nav-link i {
    top: 0.625rem; }

.nav-sidebar-icons-reverse .nav-group-sub .nav-group-sub .nav-link {
  padding-left: 3.75rem; }

.nav-sidebar-icons-reverse .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
  padding-left: 5rem; }

.nav-sidebar-bordered > .nav-item:not(.nav-item-divider) {
  margin-bottom: 0; }

.sidebar-dark .nav-sidebar-bordered > .nav-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.sidebar-dark .nav-sidebar-bordered > .nav-item-header {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0; }

.sidebar-light .nav-sidebar-bordered > .nav-item {
  border-top: 1px solid #eee; }

.sidebar-light .nav-sidebar-bordered > .nav-item-header {
  background-color: #fafafa;
  border-top: 1px solid #eee;
  margin: 0; }

.sidebar-dark {
  background-color: #252b36;
  color: #fff; }
  .sidebar-dark .nav-sidebar .nav-link {
    color: rgba(255, 255, 255, 0.9); }
    .sidebar-dark .nav-sidebar .nav-link:not(.disabled):hover {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1); }
  .sidebar-dark .nav-sidebar .nav-item > .nav-link.active {
    background-color: #596782;
    color: #fff; }
  .sidebar-dark .nav-sidebar .nav-item-open > .nav-link:not(.disabled),
  .sidebar-dark .nav-sidebar > .nav-item-expanded:not(.nav-item-open) > .nav-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff; }
  .sidebar-dark .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #596782;
    color: #fff; }
  .sidebar-dark .nav-sidebar .nav-item-header {
    color: rgba(255, 255, 255, 0.5); }
  .sidebar-dark .nav-sidebar .nav-item-divider {
    background-color: rgba(255, 255, 255, 0.1); }
  .sidebar-dark .nav-sidebar > .nav-item-submenu > .nav-group-sub {
    background-color: rgba(0, 0, 0, 0.15); }
  .sidebar-dark .sidebar-section-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.sidebar-light {
  background-color: #fff;
  color: #333;
  border-color: rgba(0, 0, 0, 0.125); }
  .sidebar-light .nav-sidebar .nav-link {
    color: #333; }
    .sidebar-light .nav-sidebar .nav-link:not(.disabled):hover {
      color: #333;
      background-color: #eee; }
  .sidebar-light .nav-sidebar .nav-item > .nav-link.active {
    background-color: #e9f5fe;
    color: #2196F3; }
  .sidebar-light .nav-sidebar .nav-item-open > .nav-link:not(.disabled),
  .sidebar-light .nav-sidebar > .nav-item-expanded > .nav-link {
    background-color: #eee;
    color: #333; }
  .sidebar-light .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #eee;
    color: #333; }
  .sidebar-light .nav-sidebar .nav-item-header {
    color: rgba(51, 51, 51, 0.5); }
  .sidebar-light .nav-sidebar .nav-item-divider {
    background-color: rgba(0, 0, 0, 0.125); }
  .sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub {
    background-color: transparent; }
  .sidebar-light .sidebar-section-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

@media (min-width: 576px) {
  .sidebar-expand-sm {
    position: static;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
    .sidebar-expand-sm .sidebar-content {
      overflow: visible; }
    .sidebar-expand-sm.sidebar-collapsed {
      display: none; }
    .sidebar-expand-sm.sidebar-main {
      z-index: 99; }
    .sidebar-expand-sm.sidebar-main-resized {
      width: 3.5rem; }
      .sidebar-expand-sm.sidebar-main-resized .sidebar-section-body {
        padding-left: 0;
        padding-right: 0; }
      .sidebar-expand-sm.sidebar-main-resized .sidebar-resize-hide {
        display: none; }
      .sidebar-expand-sm.sidebar-main-resized .sidebar-resize-show {
        display: block; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link,
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item-header {
        padding-left: 0;
        padding-right: 0;
        -ms-flex-pack: center;
            justify-content: center; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item-header {
        display: -ms-flexbox;
        display: flex; }
        .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item-header > i {
          position: static;
          display: block;
          margin-top: 0.1875rem;
          margin-bottom: 0.1875rem; }
        .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item-header > div {
          display: none; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > i {
        margin-left: 0;
        margin-right: 0; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link:after {
        content: none; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > span {
        display: none; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        position: absolute;
        top: -0.5rem;
        right: -18.75rem;
        width: 18.75rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: none !important;
        z-index: 1000;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem; }
        .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub[data-submenu-title]:before {
          content: attr(data-submenu-title);
          display: block;
          padding: 0.75rem 1.25rem;
          padding-bottom: 0;
          margin-top: 0.5rem;
          opacity: 0.5; }
        .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub-reversed {
          top: auto;
          bottom: -0.5rem; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar > .nav-item-submenu.nav-group-sub-visible > .nav-group-sub {
        display: block !important; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-link {
        padding-left: 1.25rem; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 2.25rem; }
      .sidebar-expand-sm.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 3.5rem; }
      .sidebar-expand-sm.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand-sm.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
        background-color: #eee;
        color: #333; }
      .sidebar-expand-sm.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        background-color: #fff; }
      .sidebar-expand-sm.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand-sm.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff; }
      .sidebar-expand-sm.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        background-color: #252b36; }
    .sidebar-expand-sm.sidebar-secondary {
      z-index: 98; }
    .sidebar-expand-sm.sidebar-right {
      z-index: 97; }
    .sidebar-expand-sm .sidebar-sections {
      background-color: transparent;
      border: 0;
      margin: 0;
      box-shadow: none;
      border-radius: 0; }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-expand-sm.sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 1.25rem;
        z-index: 1020; } } }

@media (max-width: 575.98px) {
  .sidebar-expand-sm {
    border: 0;
    z-index: 1040;
    transition: left ease-in-out 0.15s, right ease-in-out 0.15s; } }
  @media (max-width: 575.98px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-sm {
      transition: none; } }

@media (min-width: 769px) {
  .sidebar-expand-md {
    position: static;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
    .sidebar-expand-md .sidebar-content {
      overflow: visible; }
    .sidebar-expand-md.sidebar-collapsed {
      display: none; }
    .sidebar-expand-md.sidebar-main {
      z-index: 99; }
    .sidebar-expand-md.sidebar-main-resized {
      width: 3.5rem; }
      .sidebar-expand-md.sidebar-main-resized .sidebar-section-body {
        padding-left: 0;
        padding-right: 0; }
      .sidebar-expand-md.sidebar-main-resized .sidebar-resize-hide {
        display: none; }
      .sidebar-expand-md.sidebar-main-resized .sidebar-resize-show {
        display: block; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link,
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item-header {
        padding-left: 0;
        padding-right: 0;
        -ms-flex-pack: center;
            justify-content: center; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item-header {
        display: -ms-flexbox;
        display: flex; }
        .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item-header > i {
          position: static;
          display: block;
          margin-top: 0.1875rem;
          margin-bottom: 0.1875rem; }
        .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item-header > div {
          display: none; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > i {
        margin-left: 0;
        margin-right: 0; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link:after {
        content: none; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > span {
        display: none; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        position: absolute;
        top: -0.5rem;
        right: -18.75rem;
        width: 18.75rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: none !important;
        z-index: 1000;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem; }
        .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub[data-submenu-title]:before {
          content: attr(data-submenu-title);
          display: block;
          padding: 0.75rem 1.25rem;
          padding-bottom: 0;
          margin-top: 0.5rem;
          opacity: 0.5; }
        .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub-reversed {
          top: auto;
          bottom: -0.5rem; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar > .nav-item-submenu.nav-group-sub-visible > .nav-group-sub {
        display: block !important; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-link {
        padding-left: 1.25rem; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 2.25rem; }
      .sidebar-expand-md.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 3.5rem; }
      .sidebar-expand-md.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand-md.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
        background-color: #eee;
        color: #333; }
      .sidebar-expand-md.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        background-color: #fff; }
      .sidebar-expand-md.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand-md.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff; }
      .sidebar-expand-md.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        background-color: #252b36; }
    .sidebar-expand-md.sidebar-secondary {
      z-index: 98; }
    .sidebar-expand-md.sidebar-right {
      z-index: 97; }
    .sidebar-expand-md .sidebar-sections {
      background-color: transparent;
      border: 0;
      margin: 0;
      box-shadow: none;
      border-radius: 0; }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-expand-md.sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 1.25rem;
        z-index: 1020; } } }

@media (max-width: 768.98px) {
  .sidebar-expand-md {
    border: 0;
    z-index: 1040;
    transition: left ease-in-out 0.15s, right ease-in-out 0.15s; } }
  @media (max-width: 768.98px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-md {
      transition: none; } }

@media (min-width: 992px) {
  .sidebar-expand-lg {
    position: static;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
    .sidebar-expand-lg .sidebar-content {
      overflow: visible; }
    .sidebar-expand-lg.sidebar-collapsed {
      display: none; }
    .sidebar-expand-lg.sidebar-main {
      z-index: 99; }
    .sidebar-expand-lg.sidebar-main-resized {
      width: 3.5rem; }
      .sidebar-expand-lg.sidebar-main-resized .sidebar-section-body {
        padding-left: 0;
        padding-right: 0; }
      .sidebar-expand-lg.sidebar-main-resized .sidebar-resize-hide {
        display: none; }
      .sidebar-expand-lg.sidebar-main-resized .sidebar-resize-show {
        display: block; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link,
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item-header {
        padding-left: 0;
        padding-right: 0;
        -ms-flex-pack: center;
            justify-content: center; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item-header {
        display: -ms-flexbox;
        display: flex; }
        .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item-header > i {
          position: static;
          display: block;
          margin-top: 0.1875rem;
          margin-bottom: 0.1875rem; }
        .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item-header > div {
          display: none; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > i {
        margin-left: 0;
        margin-right: 0; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link:after {
        content: none; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > span {
        display: none; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        position: absolute;
        top: -0.5rem;
        right: -18.75rem;
        width: 18.75rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: none !important;
        z-index: 1000;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem; }
        .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub[data-submenu-title]:before {
          content: attr(data-submenu-title);
          display: block;
          padding: 0.75rem 1.25rem;
          padding-bottom: 0;
          margin-top: 0.5rem;
          opacity: 0.5; }
        .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub-reversed {
          top: auto;
          bottom: -0.5rem; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar > .nav-item-submenu.nav-group-sub-visible > .nav-group-sub {
        display: block !important; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-link {
        padding-left: 1.25rem; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 2.25rem; }
      .sidebar-expand-lg.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 3.5rem; }
      .sidebar-expand-lg.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand-lg.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
        background-color: #eee;
        color: #333; }
      .sidebar-expand-lg.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        background-color: #fff; }
      .sidebar-expand-lg.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand-lg.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff; }
      .sidebar-expand-lg.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        background-color: #252b36; }
    .sidebar-expand-lg.sidebar-secondary {
      z-index: 98; }
    .sidebar-expand-lg.sidebar-right {
      z-index: 97; }
    .sidebar-expand-lg .sidebar-sections {
      background-color: transparent;
      border: 0;
      margin: 0;
      box-shadow: none;
      border-radius: 0; }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-expand-lg.sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 1.25rem;
        z-index: 1020; } } }

@media (max-width: 991.98px) {
  .sidebar-expand-lg {
    border: 0;
    z-index: 1040;
    transition: left ease-in-out 0.15s, right ease-in-out 0.15s; } }
  @media (max-width: 991.98px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-lg {
      transition: none; } }

@media (min-width: 1200px) {
  .sidebar-expand-xl {
    position: static;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
    .sidebar-expand-xl .sidebar-content {
      overflow: visible; }
    .sidebar-expand-xl.sidebar-collapsed {
      display: none; }
    .sidebar-expand-xl.sidebar-main {
      z-index: 99; }
    .sidebar-expand-xl.sidebar-main-resized {
      width: 3.5rem; }
      .sidebar-expand-xl.sidebar-main-resized .sidebar-section-body {
        padding-left: 0;
        padding-right: 0; }
      .sidebar-expand-xl.sidebar-main-resized .sidebar-resize-hide {
        display: none; }
      .sidebar-expand-xl.sidebar-main-resized .sidebar-resize-show {
        display: block; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link,
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item-header {
        padding-left: 0;
        padding-right: 0;
        -ms-flex-pack: center;
            justify-content: center; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item-header {
        display: -ms-flexbox;
        display: flex; }
        .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item-header > i {
          position: static;
          display: block;
          margin-top: 0.1875rem;
          margin-bottom: 0.1875rem; }
        .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item-header > div {
          display: none; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > i {
        margin-left: 0;
        margin-right: 0; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link:after {
        content: none; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > span {
        display: none; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        position: absolute;
        top: -0.5rem;
        right: -18.75rem;
        width: 18.75rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: none !important;
        z-index: 1000;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem; }
        .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub[data-submenu-title]:before {
          content: attr(data-submenu-title);
          display: block;
          padding: 0.75rem 1.25rem;
          padding-bottom: 0;
          margin-top: 0.5rem;
          opacity: 0.5; }
        .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub-reversed {
          top: auto;
          bottom: -0.5rem; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar > .nav-item-submenu.nav-group-sub-visible > .nav-group-sub {
        display: block !important; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-link {
        padding-left: 1.25rem; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 2.25rem; }
      .sidebar-expand-xl.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 3.5rem; }
      .sidebar-expand-xl.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand-xl.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
        background-color: #eee;
        color: #333; }
      .sidebar-expand-xl.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        background-color: #fff; }
      .sidebar-expand-xl.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand-xl.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff; }
      .sidebar-expand-xl.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu > .nav-group-sub {
        background-color: #252b36; }
    .sidebar-expand-xl.sidebar-secondary {
      z-index: 98; }
    .sidebar-expand-xl.sidebar-right {
      z-index: 97; }
    .sidebar-expand-xl .sidebar-sections {
      background-color: transparent;
      border: 0;
      margin: 0;
      box-shadow: none;
      border-radius: 0; }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-expand-xl.sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 1.25rem;
        z-index: 1020; } } }

@media (max-width: 1199.98px) {
  .sidebar-expand-xl {
    border: 0;
    z-index: 1040;
    transition: left ease-in-out 0.15s, right ease-in-out 0.15s; } }
  @media (max-width: 1199.98px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-xl {
      transition: none; } }

.sidebar-expand {
  position: static;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-bottom: 1.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 0;
  z-index: 1040;
  transition: left ease-in-out 0.15s, right ease-in-out 0.15s; }
  .sidebar-expand .sidebar-content {
    overflow: visible; }
  .sidebar-expand.sidebar-collapsed {
    display: none; }
  .sidebar-expand.sidebar-main {
    z-index: 99; }
  .sidebar-expand.sidebar-main-resized {
    width: 3.5rem; }
    .sidebar-expand.sidebar-main-resized .sidebar-section-body {
      padding-left: 0;
      padding-right: 0; }
    .sidebar-expand.sidebar-main-resized .sidebar-resize-hide {
      display: none; }
    .sidebar-expand.sidebar-main-resized .sidebar-resize-show {
      display: block; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link,
    .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item-header {
      padding-left: 0;
      padding-right: 0;
      -ms-flex-pack: center;
          justify-content: center; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item-header {
      display: -ms-flexbox;
      display: flex; }
      .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item-header > i {
        position: static;
        display: block;
        margin-top: 0.1875rem;
        margin-bottom: 0.1875rem; }
      .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item-header > div {
        display: none; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > i {
      margin-left: 0;
      margin-right: 0; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link:after {
      content: none; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item > .nav-link > span {
      display: none; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub {
      position: absolute;
      top: -0.5rem;
      right: -18.75rem;
      width: 18.75rem;
      border: 1px solid rgba(0, 0, 0, 0.15);
      display: none !important;
      z-index: 1000;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      border-radius: 0.25rem; }
      .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub[data-submenu-title]:before {
        content: attr(data-submenu-title);
        display: block;
        padding: 0.75rem 1.25rem;
        padding-bottom: 0;
        margin-top: 0.5rem;
        opacity: 0.5; }
      .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item-submenu > .nav-group-sub-reversed {
        top: auto;
        bottom: -0.5rem; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar > .nav-item-submenu.nav-group-sub-visible > .nav-group-sub {
      display: block !important; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-link {
      padding-left: 1.25rem; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-link {
      padding-left: 2.25rem; }
    .sidebar-expand.sidebar-main-resized .nav-sidebar .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
      padding-left: 3.5rem; }
    .sidebar-expand.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
      background-color: #eee;
      color: #333; }
    .sidebar-expand.sidebar-main-resized.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub {
      background-color: #fff; }
    .sidebar-expand.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:hover > .nav-link:not(.active):not(.disabled), .sidebar-expand.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu:focus > .nav-link:not(.active):not(.disabled) {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff; }
    .sidebar-expand.sidebar-main-resized.sidebar-dark .nav-sidebar > .nav-item-submenu > .nav-group-sub {
      background-color: #252b36; }
  .sidebar-expand.sidebar-secondary {
    z-index: 98; }
  .sidebar-expand.sidebar-right {
    z-index: 97; }
  .sidebar-expand .sidebar-sections {
    background-color: transparent;
    border: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0; }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-expand.sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 1.25rem;
      z-index: 1020; } }
  @media (prefers-reduced-motion: reduce) {
    .sidebar-expand {
      transition: none; } }

.sidebar-dark .nav-tabs .nav-item.show .nav-link:not(.active) {
  color: #fff; }

.sidebar-light .nav-tabs:not(.nav-tabs-bottom) .nav-link.active {
  background-color: #fff; }

.row-tile div[class*=col] .btn {
  border-radius: 0; }

.row-tile div[class*=col]:first-child .btn:first-child {
  border-top-left-radius: 0.25rem; }

.row-tile div[class*=col]:first-child .btn:last-child {
  border-bottom-left-radius: 0.25rem; }

.row-tile div[class*=col]:last-child .btn:first-child {
  border-top-right-radius: 0.25rem; }

.row-tile div[class*=col]:last-child .btn:last-child {
  border-bottom-right-radius: 0.25rem; }

.row-tile div[class*=col] .btn + .btn {
  border-top: 0; }

.row-tile div[class*=col] + div[class*=col] .btn {
  border-left: 0; }

/* ------------------------------------------------------------------------------
 *
 *  # Boxed layout
 *
 *  Styles for main structure of content area in boxed layout
 *
 * ---------------------------------------------------------------------------- */
.layout-boxed-bg {
  background: url(../../../../../../global_assets/images/backgrounds/boxed_bg.png) repeat; }

.navbar > .container,
.breadcrumb-line > .container {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }
