@model OrcamentoMaterialViewModel

<p class="h3">Novo orçamento</p>

<div class="row modal-body">
	<div class="col-6 p-2 form-group">
		<label for="Item" class="form-label" span-required="">Item</label>
		<input id="Item" class="form-select"></input>
	</div>

	<div class="p-2 tamanho form-group">
		<label for="Quantidade" class="form-label" span-required="">Quantidade</label>
		<input id="Quantidade" class="form-control w-50" />
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-primary" id="botao-adicionar-item" style="margin-top: 25px;">Adicionar</button>
	</div>

	<div class="p-2 tamanho form-group">
		<label for="Quantidade" class="form-label" span-required="">Quantidade</label>
		<input id="Quantidade" class="form-control w-50" />
	</div>


</div>