@model OrcamentoCadastrarViewModel

<p class="h3">Novo orçamento</p>
<form asp-action="cotar" method="POST">

    <div class="mb-3">
        <label asp-for="DataOrcamento" class="form-label" span-required="">Data do orçamento</label>
        <input asp-for="DataOrcamento" class="form-control w-50" />
        <span asp-validation-for="DataOrcamento" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-6 p-2">
            <label asp-for="Item" class="form-label" span-required=""></label>
            <select asp-for="Item" class="form-select"></select>
            <span asp-validation-for="Item" class="text-danger"></span>
        </div>

        <div class="p-2">
            <label asp-for="Quantidade" class="form-label" span-required=""></label>
            <input asp-for="Quantidade" class="form-control w-50" />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>
    </div>

    <div class="text-end">
        <a href="/cliente" class="btn btn-outline-danger">Cancelar</a>
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>

</form>

@section Scripts{
    <script src="~/js/clientes/orcamento/cotar-select2.js"></script>
}