@model OrcamentoCadastrarViewModel

<p class="h3">Novo orçamento</p>

	<div class="row modal-body">
		<div class="col-6 p-2 form-group">
			<label for="orcamentoItem" class="form-label" span-required="">Item</label>
			<select id="orcamentoItem" class="form-select"></select>
		</div>

		<div class="p-2 tamanho form-group">
			<label for="orcamentoQuantidade" class="form-label" span-required="">Quantidade</label>
			<input id="orcamentoQuantidade" class="form-control w-50" />
		</div>

		@*<div class="p-2">
			<button type="button" class="btn btn-primary m-4" data-bs-toggle="modal" data-bs-target="#cadastroPetModal">
				<i class="fa-solid fa-plus"></i> Adicionar
			</button>
		</div>*@

		<div class="modal-footer">
			<button type="button" class="btn btn-primary" id="botao-adicionar-item" style="margin-top: 25px;">Adicionar</button>
		</div>


	</div>

	<table class="table table-striped table-bordered" id="orcamento-table">
		<thead>
			<tr>
				<th>Material</th>
				<th>Quantidade</th>
			</tr>
		</thead>
	</table>

	<div class="mb-3 float-right">
		<a href="/cliente" class="btn btn-outline-danger">Cancelar</a>
		<button type="submit" class="btn btn-success">Cotar</button>
	</div>

@section Scripts{
	<script src="~/js/clientes/orcamento/cotar-select2.js"></script>
	<script src="~/js/clientes/orcamento/orcamento-datatable.js"></script>
	<script src="~/js/clientes/orcamento/orcamento-cotar.js"></script>
}