@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="" style="font-size: 500%; color: darkorange">Bem-vindo Cliente! Aproveite todos os nossos serviços!</h1>
</div>

@section Scripts{
				<script src="~/js/clientes/orcamento/cotar-select2.js"></script>
}