@using Servico.ViewModels.Estoque
@model EstoqueCadastrarViewModel
@{
    var estoques = ViewBag.Estoques as List<string>;
    estoques.Add(string.Empty);

    var selectDosEstoques = new SelectList(estoques, string.Empty);
}

<p class="h3">Cadastro de Estoque</p>
<form asp-action="cadastrar" method="POST">

    	<div class="row">
		<div class="col-6 p-2">
			<label asp-for="Item" class="form-label" span-required=""></label>
			<select asp-for="Item" class="form-select"></select>
			<span asp-validation-for="Item" class="text-danger"></span>
		</div>

    <div class="mb-3">
        <label asp-for="Quantidade" class="form-label" span-required="">Informe a quantidade do Material</label>
        <input asp-for="Quantidade" class="form-control" />
        <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>


        <div class="mb-3">
        <label asp-for="Valor" class="form-label" span-required="">Informe o valor do Material</label>
        <input asp-for="Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="modal-footer">
		<button type="button" class="btn btn-primary" id="botao-adicionar-item">Cadastrar</button>
    </div>

    <a href="/cliente" class="btn btn-outline-danger">Cancelar</a>


</form>


@section Scripts{
	<script src="~/js/Fornecedor/orcamento/cotar-select2.js"></script>
}