@using Servico.ViewModels.Estoque
@model EstoqueCadastrarViewModel
@{
	var estoques = ViewBag.Estoques as List<string>;
	estoques.Add(string.Empty);

	var selectDosEstoques = new SelectList(estoques, string.Empty);
}

<p class="h3">Cadastro de Estoque</p>
<form asp-action="cadastrar" method="POST" class="row g-3">

		 <div class="row">
		<div class="col-6 p-2">
			<label asp-for="Item" class="form-label" span-required=""></label>
			<select asp-for="Item" class="form-select"></select>
			<span asp-validation-for="Item" class="text-danger"></span>
		</div>

	<div class="col-md-6">
		<label asp-for="Quantidade" class="form-label" span-required="">Informe a quantidade do Material</label>
		<input asp-for="Quantidade" class="form-control" />
		<span asp-validation-for="Quantidade" class="text-danger"></span>
	</div>

		<div class="col-md-12">
		<label id="Valor" asp-for="Valor" class="form-label" span-required="">Informe o valor do Material</label>
		<input asp-for="Valor" class="form-control"/>
		<span asp-validation-for="Valor" class="text-danger"></span>
	</div>

	<div class="col-lg-12" style="text-align: right;">
		<a href="/administrador/administrador" class="btn btn-outline-danger">Cancelar</a>
		<button type="submit" class="btn btn-success">Cadastrar</button>
	</div>

</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script src="https://plentz.github.io/jquery-maskmoney/javascripts/jquery.maskMoney.min.js" type="text/javascript"></script>

<script>
jQuery(function() {

	jQuery("#valor").maskMoney({
	prefix:'R$ ', 
	thousands:'.', 
	decimal:','
})

});
</script>



@section Scripts{
		<script src="~/js/Fornecedor/orcamento/cotar-select2.js"></script>

}