@using Servico.ViewModels.Estoque
@model EstoqueEditarViewModel
@{
    var estoques = ViewBag.Estoques as List<string>;
    estoques.Add(string.Empty);

    var selectDosEstoques = new SelectList(estoques, string.Empty);
}

<form asp-action="editar" method="POST">
    <input type="hidden" asp-for="Id" />

@*    <div class="mb-3">
        <label asp-for="MaterialId" class="form-label" span-required=""></label>
        <input asp-for="MaterialId" class="form-control" />
        <span asp-validation-for="MaterialId" class="text-danger"></span>
    </div>*@

    <div class="mb-3">
        <label asp-for="Quantidade" class="form-label" span-required=""></label>
        <input asp-for="Quantidade" class="form-control" />
        <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>

    <script src="~/js/jquery.mask.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.mask.min.js"></script>
    <script src="~/js/usuarios/usuarioValidacao.js"></script>
    <script src="~/js/Fornecedor/cotar-select2.js"></script>
    <script src="~/js/Fornecedor/orcamento-cotar.js"></script>
    <script src="~/js/Fornecedor/orcamento-datatable.js"></script>

</form>