@model MaterialEditarViewModel
@{
    var materiais = ViewBag.Matreriais as List<string>;
    materiais.Add(string.Empty);

    var selectDosMateriais = new SelectList(materiais, string.Empty);
}

<form asp-action="editar" method="POST">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
</form>