<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>FoxBudgets</title>



	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="~/Tema/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="~/Tema/assets/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="~/css/imgConfig.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
	<link rel="shortcut icon" href="~/Tema/global_assets/images/Fox-Ico.png" />

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-lg navbar-light navbar-static">
		<div class="d-flex flex-1 d-lg-none">
			<button type="button" class="navbar-toggler sidebar-mobile-main-toggle">
				<i class="icon-transmission"></i>
			</button>
		</div>

		<div class="navbar-brand text-center text-lg-left">
			<img class="full-imagem" src="~/tema/global_assets/images/FOXXtest.png" />
		</div>

		<div class="collapse navbar-collapse order-2 order-lg-1" id="navbar_search">
			<div class="navbar-search d-flex align-items-center py-3 py-lg-0">
				<div class="form-group-feedback form-group-feedback-left flex-grow-1">
					<div class="form-control-feedback">
					</div>
				</div>
			</div>
		</div>

		<div class="order-1 order-lg-2 d-flex flex-1 flex-lg-0 justify-content-end nav-link" style="margin-top: 12px;">
			<ul class="navbar-nav flex-row align-items-center h-100">
				<li class="nav-item nav-item-dropdown-lg dropdown"></li>
			</ul>

			<div class="container" style="text-align: center">
				<a class="nav-link" href="/">Home</a>
			</div>
		</div>
	</div>
	<!-- /main navbar -->
	<!-- Page header -->
	<div class="dropdown-menu dropdown-menu-right">
		<a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Segurança da Conta</a>
		<div class="dropdown-divider"></div>
		<a href="#" class="dropdown-item"><i class="icon-gear"></i> Configurações</a>
	</div>
	<div class="header-elements d-none mb-3 mb-lg-0">
		<div class="d-flex justify-content-center">
		</div>
	</div>
	<!-- /page header -->
	<!-- Page content -->
	<div class="col-auto">

		<!-- Sidebar content -->
		<div class="sidebar-content">

			<!-- Header -->
			<!-- /header -->
			<!-- User menu -->
			<!-- Main navigation -->
			<div class="sidebar-section">
				<ul class="nav nav-sidebar" data-nav-type="accordion">

					<!-- Main -->
					<!-- /layout -->

				</ul>
			</div>
			<!-- /main navigation -->
			<!-- /sidebar content -->
			<!-- /main sidebar -->
			<!-- Main content -->
			<div class="container">

				<!-- Content area -->
				<div class="content">

					@RenderBody()

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->
			<!-- /page content -->
			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i>
						Footer
					</button>
				</div>

				<!-- /footer -->
				<!-- Core JS files -->
				<script src="~/Tema/global_assets/js/main/jquery.min.js"></script>
				<script src="~/Tema/global_assets/js/main/bootstrap.bundle.min.js"></script>
				<!-- /core JS files -->
				<!-- Theme JS files -->
				<script src="~/Tema/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
				<script src="~/Tema/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
				<script src="~/Tema/global_assets/js/plugins/ui/moment/moment.min.js"></script>
				<script src="~/Tema/global_assets/js/plugins/pickers/daterangepicker.js"></script>

				<script src="~/Tema/assets/js/app.js"></script>
				<script src="~/Tema/global_assets/js/demo_pages/dashboard.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/streamgraph.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/sparklines.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/lines.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/areas.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/donuts.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/bars.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/progress.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/heatmaps.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/pies.js"></script>
				<script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/bullets.js"></script>
				<!-- /theme JS files -->
				@await RenderSectionAsync("Scripts", required: false)
</body>
</html>