<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FoxBudgets</title>



    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Tema/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Tema/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/imgConfig.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <link rel="shortcut icon" href="~/Tema/global_assets/images/Fox-Ico.png" />

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-lg navbar-light navbar-static">
        <div class="d-flex flex-1 d-lg-none">
            <button type="button" class="navbar-toggler sidebar-mobile-main-toggle">
                <i class="icon-transmission"></i>
            </button>
        </div>
        <div class="navbar-brand text-center text-lg-left">
                <img class="full-imagem" src="~/tema/global_assets/images/FOXXtest.png" />
        </div>
                    <div class="dropdown-menu dropdown-menu-right wmin-lg-250 py-2">
                        <div class="dropdown-item d-flex py-2">
                            <div class="flex-1">
                                <div class="font-weight-semibold">Account summary</div>
                                <span class="text-muted font-size-sm">Profile, overview</span>
                            </div>
                            <span class="btn btn-dark-100 btn-icon btn-sm text-body border-transparent rounded-pill ml-1">
                                <i class="icon-arrow-right8"></i>
                            </span>
                        </div>

                        <div class="dropdown-item d-flex py-2">
                            <div class="flex-1">
                                <div class="font-weight-semibold">Privacy</div>
                                <span class="text-muted font-size-sm">Access, permissions</span>
                            </div>
                            <span class="btn btn-dark-100 btn-icon btn-sm text-body border-transparent rounded-pill ml-1">
                                <i class="icon-arrow-right8"></i>
                            </span>
                        </div>

                        <div class="dropdown-item d-flex py-2">
                            <div class="flex-1">
                                <div class="font-weight-semibold">Payments</div>
                                <span class="text-muted font-size-sm">Expenses, subscription</span>
                            </div>
                            <span class="btn btn-dark-100 btn-icon btn-sm text-body border-transparent rounded-pill ml-1">
                                <i class="icon-arrow-right8"></i>
                            </span>
                        </div>

                        <div class="dropdown-item d-flex py-2">
                            <div class="flex-1">
                                <div class="font-weight-semibold">Settings</div>
                                <span class="text-muted font-size-sm">Security, app config</span>
                            </div>
                            <span class="btn btn-dark-100 btn-icon btn-sm text-body border-transparent rounded-pill ml-1">
                                <i class="icon-arrow-right8"></i>
                            </span>
                        </div>
                    </div>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page header -->
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                            <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                            <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="header-elements d-none mb-3 mb-lg-0">
                <div class="d-flex justify-content-center">
                </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Page content -->
    <div class="page-content pt-0">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-light sidebar-main sidebar-expand-lg align-self-start">

            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Header -->
                <!-- /header -->
                <!-- User menu -->
                <!--                        <div class="sidebar-resize-hide flex-1 ml-3">
                            <div class="font-weight-semibold">William Lima</div>
                            <div class="font-size-sm line-height-sm text-muted">
                                Administrador 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main navigation -->
                <div class="sidebar-section">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">

                        <!-- Main -->
    <!-- /layout -->

                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">

                @RenderBody()

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>

    <!-- /footer -->
    <!-- Notifications -->
    <div id="notifications" class="modal modal-right fade" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-transparent border-0 align-items-center">
                    <h5 class="modal-title font-weight-semibold">Notifications</h5>
                    <button type="button" class="btn btn-icon btn-light btn-sm border-0 rounded-pill ml-auto" data-dismiss="modal"><i class="icon-cross2"></i></button>
                </div>

                <div class="modal-body p-0">
                    <div class="bg-light text-muted py-2 px-3">New notifications</div>
                    <div class="p-3">
                        <div class="d-flex mb-3">
                            <div class="flex-1">
                                <a href="#" class="font-weight-semibold">James</a> has completed the task <a href="#">Submit documents</a> from <a href="#">Onboarding</a> list

                                <div class="bg-light border rounded p-2 mt-2">
                                    <label class="custom-control custom-checkbox custom-control-inline mx-1">
                                        <input type="checkbox" class="custom-control-input" checked disabled>
                                        <del class="custom-control-label">Submit personal documents</del>
                                    </label>
                                </div>

                                <div class="font-size-sm text-muted mt-1">2 hours ago</div>
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <div class="flex-1">
                                <a href="#" class="font-weight-semibold">Margo</a> was added to <span class="font-weight-semibold">Customer enablement</span> channel by <a href="#">William Whitney</a>

                                <div class="font-size-sm text-muted mt-1">3 hours ago</div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="mr-3">
                                <div class="bg-danger-100 text-black rounded-pill">
                                    <i class="icon-undo position-static p-2"></i>
                                </div>
                            </div>
                            <div class="flex-1">
                                Subscription <a href="#">#466573</a> from 10.12.2021 has been cancelled. Refund case <a href="#">#4492</a> created

                                <div class="font-size-sm text-muted mt-1">4 hours ago</div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-light text-muted py-2 px-3">Older notifications</div>
                    <div class="p-3">
                        <div class="d-flex mb-3">
                            <a href="#" class="mr-3">
                                <img src="~/Tema/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                            </a>
                            <div class="flex-1">
                                <a href="#" class="font-weight-semibold">Christine</a> commented on your community <a href="#">post</a> from 10.12.2021

                                <div class="font-size-sm text-muted mt-1">2 days ago</div>
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <a href="#" class="mr-3">
                                <img src="~/Tema/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                            </a>
                            <div class="flex-1">
                                <a href="#" class="font-weight-semibold">Mike</a> added 1 new file(s) to <a href="#">Product management</a> project

                                <div class="bg-light rounded p-2 mt-2">
                                    <div class="d-flex align-items-center mx-1">
                                        <div class="mr-2">
                                            <i class="icon-file-pdf text-danger icon-2x position-static"></i>
                                        </div>
                                        <div class="flex-1">
                                            new_contract.pdf
                                            <div class="font-size-sm text-muted">112KB</div>
                                        </div>
                                        <div class="ml-2">
                                            <a href="#" class="btn btn-dark-100 text-body btn-icon btn-sm border-transparent rounded-pill">
                                                <i class="icon-arrow-down8"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="font-size-sm text-muted mt-1">1 day ago</div>
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <div class="mr-3">
                                <div class="bg-success-100 text-black rounded-pill">
                                    <i class="icon-calendar3 position-static p-2"></i>
                                </div>
                            </div>
                            <div class="flex-1">
                                All hands meeting will take place coming Thursday at 13:45. <a href="#">Add to calendar</a>

                                <div class="font-size-sm text-muted mt-1">2 days ago</div>
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <a href="#" class="mr-3">
                                <img src="~/Tema/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                            </a>
                            <div class="flex-1">
                                <a href="#" class="font-weight-semibold">Nick</a> requested your feedback and approval in support request <a href="#">#458</a>

                                <div class="font-size-sm text-muted mt-1">3 days ago</div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="mr-3">
                                <div class="bg-primary-100 text-black rounded-pill">
                                    <i class="icon-people position-static p-2"></i>
                                </div>
                            </div>
                            <div class="flex-1">
                                <span class="font-weight-semibold">HR department</span> requested you to complete internal survey by Friday

                                <div class="font-size-sm text-muted mt-1">3 days ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Core JS files -->
    <script src="~/Tema/global_assets/js/main/jquery.min.js"></script>
    <script src="~/Tema/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Tema/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/Tema/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/Tema/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/Tema/global_assets/js/plugins/pickers/daterangepicker.js"></script>

    <script src="~/Tema/assets/js/app.js"></script>
    <script src="~/Tema/global_assets/js/demo_pages/dashboard.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/streamgraph.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/sparklines.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/lines.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/areas.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/donuts.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/bars.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/progress.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/heatmaps.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/pies.js"></script>
    <script src="~/Tema/global_assets/js/demo_charts/pages/dashboard/dark/bullets.js"></script>
    <!-- /theme JS files -->
    <!-- /notifications -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>