@using Servico.ViewModels
@model CadastrarUsuarioViewModel

@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Cadastrar";
}

<div align="center">
    <div class="page background-image vertical-align text-center">
        <div class="col-auto">
            <div class="col-auto">
                <div class="col-auto">
                    <div class="brand">
                        <form asp-controller="Login" asp-action="Cadastrar" method="POST">
                            <div class="form-group form-material floating" style="margin-top: 15px;">
                                <label asp-for="Nome" class="form-label" span-required=""></label>
                                <input asp-for="Nome" class="form-control" style="text-align:center;" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>

                            <script>
                                document.getElementById("campo-cpf").style.display = "none";
                                document.getElementById("campo-cnpj").style.display = "none";
                                function text(x) {
                                    let apresentarCpf = () => {
                                        document.getElementById("campo-cpf").style.display = "block";
                                        document.getElementById("campo-cnpj").style.display = "none";
                                    }

                                    let apresentarCnpj = () => {
                                        document.getElementById("campo-cpf").style.display = "none";
                                        document.getElementById("campo-cnpj").style.display = "block";
                                    }
                                    document.getElementById("campo-cpf").addEventListener("click", ApresentarCpf);

                                    document.getElementById("campo-cnpj").addEventListener("click", ApresentarCnpj);
                                }
                            </script>

                            

                            <div class="form-group form-material floating">
                                <label asp-for="DataNascimento" class="form-label" span-required=""></label>
                                <input asp-for="DataNascimento" class="form-control" style="text-align:center;" />
                                <span asp-validation-for="DataNascimento" class="text-danger"></span>
                            </div>

                            <div class="form-group form-material floating">
                                <label asp-for="Endereco" class="form-label" span-required=""></label>
                                <input asp-for="Endereco" class="form-control" style="text-align:center;" />
                                <span asp-validation-for="Endereco" class="text-danger"></span>
                            </div>

                            <div class="form-group form-material floating">
                                <label asp-for="Email" class="form-label" span-required=""></label>
                                <input asp-for="Email" class="form-control" style="text-align:center;" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group form-material floating">
                                <label asp-for="Telefone" class="form-label" span-required=""></label>
                                <input asp-for="Telefone" class="form-control" style="text-align:center;" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>

                            <div class="form-group form-material floating">
                                <label asp-for="Login" class="form-label" span-required=""></label>
                                <input asp-for="Login" class="form-control" style="text-align:center;" />
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>

                            <div class="form-group form-material floating">
                                <label asp-for="Senha" class="form-label" span-required=""></label>
                                <input asp-for="Senha" class="form-control" style="text-align:center;" />
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>

                            @if (TempData["Message"] != null)
                            {
                                <p class="text-danger">@TempData["Message"]</p>
                            }
                            <button type="submit" class="btn btn-primary btn-block btn-lg mt-40">Criar conta</button>

                            <div class="text-end">
                                <a href="/administrador" class="btn btn-outline-danger btn-block btn-lg mt-40">Cancelar</a>
                            </div>
                        </form>
                        <Por>Já possui uma conta cadastrada? <a asp-controller="Login" asp-action="Index">Entre aqui</a><p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>