<div class="modal fade"  id="cadastroFornecedorModal"  tabindex="-1"  aria-labelledby="cadastroFornecedorModal"  aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastroFornecedorModalLabel">Cadastro de Fornecedores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="cadastroFornecedorModalId" class="form-control" type="hidden"/>
                <div class="row">
                    <div class="col-6">
                        <label for="cadastroFornecedorModalCnpj" class="form-label">Cnpj <span class="text-danger">*</span></label>
                        <select id="cadastroFornecedorModalCnpj" class="form-select"></select>
                    </div>
                    <div class="col-6">
                        <label for="cadastroFornecedorModalDataFundacao" class="form-label">Data de Fundação <span class="text-danger">*</span></label>
                        <input id="cadastroFornecedorModalDataFundacao" class="form-control"></input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="cadastroFornecedorModalEndereco" class="form-label">Endereço do Fornecedor <span class="text-danger">*</span></label>
                        <input id="cadastroFornecedorModalEndereco" class="form-selected">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="cadastroFornecedorModalEmail" class="form-label">Email do Fornecedor <span class="text-danger">*</span></label>
                        <iput id="cadastroFornecedorModelEmail" class="form-control"/>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="form-label">Genero</span>
                            <div class="form-check">
                                <input type="radio" id="cadastroFornecedorModalGeneroFeminino" name="cadastroPetModalGenero" class="form-check-input" value="0" checked="checked"/>
                                <label class="form-check-label" for="cadastroFornecedorModalGeneroFeminino">Feminino</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="cadastroFornecedorModalGeneroMasculino" name="cadastroFornecedorModalGenero" class="form-check-input" value="1"/>
                                <label class="form-check-label" for=cadastroForncedorModalGeneroMasculino>Masculino</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="cadastroFornecedorModalTelefone" class="form-label">Telefone do Fornecedor <span class="text-danger">*</span></label>
                            <input id="cadastroFornecedorModalTelefone" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="cadastroFornecedorModalCategoria" class="form-label">Informe a Categoria do Fornecedor</label>
                            <input id="cadastroFornecedorModalCategoria" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>