@model CadastrarUsuarioViewModel

@{
	var clientes = ViewBag.Clientes as List<string>;
	clientes.Add(string.Empty);

	var selectDosFornecedores = new SelectList(clientes, string.Empty);
}
<p class="h3">Cadastro de Clientes</p>
<form asp-action="cadastrar" method="POST" class="row g-3">

	<div class="col-md-6">
		<label asp-for="Nome" class="form-label" span-required=""></label>
		<input asp-for="Nome" class="form-control" />
		<span asp-validation-for="Nome" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="Cpf" class="form-label" span-required="">CPF</label>
		<input asp-for="Cpf" class="form-control" placeholder="___.___.___-__" oninput="mascara(this)" />
		<span asp-validation-for="Cpf" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="Cnpj" class="form-label" span-required="">CNPJ</label>
		<input asp-for="Cnpj" class="form-control" placeholder="__.___.___/____-__" />
		<span asp-validation-for="Cnpj" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="DataNascimento" class="form-label" span-required="">Data de nascimento</label>
		<input asp-for="DataNascimento" class="form-control" />
		<span asp-validation-for="DataNascimento" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="Endereco" class="form-label" span-required="">Endereço</label>
		<input asp-for="Endereco" class="form-control" />
		<span asp-validation-for="Endereco" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="Email" class="form-label" span-required="">E-mail</label>
		<input asp-for="Email" class="form-control" placeholder="cliente@cliente.com" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="Telefone" class="form-label" span-required=""></label>
		<input asp-for="Telefone" class="form-control" placeholder="(__) _____-____" />
		<span asp-validation-for="Telefone" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="Login" class="form-label" span-required=""></label>
		<input type="text" asp-for="Login" class="form-control" id="login" />
		<span asp-validation-for="Login" class="text-danger"></span>
	</div>

	<div class="col-md-6">
		<label asp-for="Senha" class="form-label" span-required=""></label>
		<input type="password" asp-for="Senha" class="form-control" id="senha" />
		<span asp-validation-for="Senha" class="text-danger"></span>
	</div>

    <div class="col-lg-12" style="text-align: right;">
        <a asp-action="administrador/materiais/index" class="btn btn-outline-danger">Cancelar</a>
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>

	<script src="~/js/usuarios/usuarioValidacao.js"></script>
</form>