@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cadastramento de Cliente e Construtora</h1>
    <p>Faça o seu Cadastramanento de Cliente ou Construtora</p>
</div>