@{
    Layout = "_Layout";
}
<head>
    <style type="text/css">
        body {
            background-image: linear-gradient(90deg, 	#000000 0%, #2F4F4F 50.52%,	#000000 100%);
        }
        h3 {
            color:#FF8C00;
            font-weight: 500;
            font-size: 30px;
            margin: 0;
            padding-top: 10px;
        }
        article ul{
           font-size: 0; 
        }
        article ul li img{
           width: 100%;
           display: block; 
           border-radius: 10px;
        }
        article ul, article ul li{ 
           list-style: none;
           margin: 0;
           padding: 0;
        }
        article ul li{
           display: inline-block;
           width: 25%; 
           box-sizing: border-box; 
           text-align: center; 
           padding: 15px; 
           font-size: 16px; 
           vertical-align: top; 
        }
    </style>
</head>
<body>
    <header style="text-align: center">
        <h3><b>Veja os nossos Empreendimentos!</b></h3>
    </header>
    <article>
        <ul>
            <li>
                <img src="~/Tema/Imagens/predio.jpg">
                <h4><a href="https://localhost:7193/Public">Macrotis</a></h4>
            </li>
            <li>
                <a href="#"><img src="~/Tema/Imagens/predio2.jpg"></a>
                <h4><a href="https://localhost:7193/Public">Red Fox</a></h4>
                
            </li>
            <li>
                <a href="#"><img src="~/Tema/Imagens/predio3.jpg"></a>
                <h4><a href="https://localhost:7193">Vulpes</a></h4>
                
            </li>
            <li>
                <a href="#"><img src="~/Tema/Imagens/predio4.jpg"></a>
                <h4><a href="https://localhost:7193">Velox</a></h4>
               
            </li>
            <li>
                <a href="#"><img src="~/Tema/Imagens/predio.jpg"></a>
                <h4><a href="https://localhost:7193"></a></h4>
            </li>
            <li>
                <a href="#"><img src="~/Tema/Imagens/predio.jpg"></a>
                <h4><a href="https://localhost:7193"></a></h4>
               
            </li>
            <li>
                <a href="#"><img src="~/Tema/Imagens/predio.jpg"></a>
                <h4><a href="https://localhost:7193"></a></h4>
              
            </li>
            <li>
                <a href="#"><img src="~/Tema/Imagens/predio.jpg"></a>
                <h4><a href="https://localhost:7193"></a></h4>
               
            </li>

        </ul>
    </article>
</body>
