<div class="modal fade" id="cadastrarClienteModal" tabindex="-1" arai-labelledby="cadastroClienteModalLable" aria-hidden="true">
    <div class="modal-dialog modal-xl  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"  id="cadastroClienteModalLabel"></h5>
            </div>
        </div>
    </div>
</div>