@{
    ViewData["Title"] = "Home page";
}


Tela pública
<link rel="shortcut icon" href="~/Tema/global_assets/images/Fox-Ico.png" />

<a asp-area="Administrador" asp-controller="Home" asp-action="Index">Área Administrador</a>
<a asp-area="Cliente" asp-controller="Home" asp-action="Index">Área Cliente</a>
<a asp-area="Fornecedor" asp-controller="Home" asp-action="Index">Área Fornecedor</a>