@{
    ViewData["Title"] = "Home page";
}
<head>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Tema/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Tema/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/imgConfig.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <link rel="shortcut icon" href="~/Tema/global_assets/images/Fox-Ico.png" />
</head>

Tela pública
<link rel="shortcut icon" href="~/Tema/global_assets/images/Fox-Ico.png" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
<a asp-area="Administrador" asp-controller="Home" asp-action="Index">Área Administrador</a><br />
<a asp-area="Cliente" asp-controller="Home" asp-action="Index">Área Cliente</a><br />
<a asp-area="Fornecedor" asp-controller="Home" asp-action="Index">Área Fornecedor</a><br />