@{
    ViewData["Title"] = "Home page";
}

<link rel="shortcut icon" href="~/Tema/global_assets/images/Fox-Ico.png" />

<html>
    <head>
       <title>Fox Budgets</title>
       <link hrfe="css/style.scss" rel="stylessheet"/>
       <meta name="viewport" context="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    </head>
    <body>
        <header>
            <div class="center">
                <div class="logo"><img src="global_assets/images/ui/FOXX.png" /></div><!--LOGO-->
                <div class="Home">
                    </a><a href="https://github.com/GustavoPrim">Suporte</a>
                    <a href="https://wa.link/f9gou2">Contatos</a>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Sair">Alterar Senha</a>
                    </li>

                </div><!--categoria-->
                </div><!--center-->

          
        </header>
    </body>
</html>