@{
    ViewData["Title"] = "Home page";
}

Tela pública

<a asp-area="Administrador" asp-controller="Home" asp-action="Index">Área Administrador</a>
<a asp-area="Cliente" asp-controller="Home" asp-action="Index">Área Cliente</a>
<a asp-area="Fornecedor" asp-controller="Home" asp-action="Index">Área Fornecedor</a>