@model FornecedorCadastrarViewModel

@{
    var fornecedores = ViewBag.Fornecedores as List<string>;
    fornecedores.Add(string.Empty);

    var selectDosFornecedores = new SelectList(fornecedores, string.Empty);
}
<form asp-action="Cadastrar" method="POST" class="row g-3">
    <div class="col-md-6">
        <label asp-for="Nome" class="form-label" span-required=""></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Cnpj" class="form-label" span-required="">CNPJ</label>
        <input asp-for="Cnpj" class="form-control" placeholder="__.___.___/____-__" />
        <span asp-validation-for="Cnpj" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="DataFundacao" class="form-label" span-required="">Data de fundação</label>
        <input asp-for="DataFundacao" class="form-control" />
        <span asp-validation-for="DataFundacao" class="text-danger"></span>
    </div>



    <div class="col-md-6">
        <label asp-for="Endereco" class="form-label" span-required="">Endereço</label>
        <input asp-for="Endereco" class="form-control" />
        <span asp-validation-for="Endereco" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Email" class="form-label" span-required="">E-mail</label>
        <input asp-for="Email" class="form-control" placeholder="fornecedor@fornecedor.com" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Telefone" class="form-label" span-required=""></label>
        <input asp-for="Telefone" class="form-control" placeholder="(__) _____-____" />
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Categoria" class="form-label" span-required=""></label>
        <input asp-for="Categoria" class="form-control" />
        <span asp-validation-for="Categoria" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Login" class="form-label" span-required=""></label>
        <input type="text" asp-for="Login" class="form-control" id="login" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Senha" class="form-label" span-required=""></label>
        <input type="password" asp-for="Senha" class="form-control" id="senha" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>

    <div class="col-lg-12" style="text-align: right;">
        <a href="/administrador/fornecedor/cadastrar" class="btn btn-outline-danger">Cancelar</a>
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>

    <script src="~/js/jquery.mask.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.mask.min.js"></script>
    <script src="~/js/usuarios/usuarioValidacao.js"></script>

</form>